html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: Lato, sans-serif;
    color: whitesmoke;
    max-width: 500px;
    margin: 0 auto;
    background-color: #222222;
    background-image: url("../images/stock-market-chart-technology-blue-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-size: 20px;
}